<h1>Heroe
    <small>Nombre del heroe</small>
</h1>
<hr>
<div class="row">
    <div class="col text-right">
        <button class="btn btn-danger" routerLink="/heroes">
            <i class="fa fa-arrow-left">Regresar</i>
        </button>
    </div>
</div>

<div class="row animated fadeIn faster">
    <div class="col">
        <form (ngSubmit)="guardar(form)" #form="ngForm">
            <div class="form-group">
              <label>Firebase ID</label>
              <input type="text" 
                     class="form-control" 
                     placeholder="Firebase ID"
                     disabled="disabled" 
                     name="id"
                     [(ngModel)]="heroe.id">
            </div>
            <div class="form-group">
                <label>Nombre del heroe</label>
                <input type="text" 
                       class="form-control" 
                       placeholder="Nombre del heroe"
                       required
                       name="nombre"
                       [(ngModel)]="heroe.nombre">
            </div>

            <div class="form-group">
                <label>Poder</label>
                <input type="text" 
                       class="form-control" 
                       placeholder="Poder del heroe"
                       required
                       name="poder"
                       [(ngModel)]="heroe.poder">
            </div>

            <div class="form-group">
                <label>Estado</label>
                <br>
                <button *ngIf="heroe.vivo" (click)="heroe.vivo = false" 
                        class="btn btn-outline-success w-50" type="=button">
                    <i class="fa fa-smile-wink"></i>
                    Vivo
                </button>
                <button *ngIf="!heroe.vivo" (click)="heroe.vivo = true" 
                        class="btn btn-outline-danger w-50" type="=button">
                    <i class="fa fa-dizzy"></i>
                    Muerto
                </button>
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Ingresar Token</label>
                <textarea class="form-control" 
                          id="exampleFormControlTextarea1" 
                          rows="3"
                          placeholder="Ingresar Token"
                          required
                          name="ingresoToken"
                          [(ngModel)]="heroe.tokenSupervisor">
                </textarea>
              </div>
            
            <hr>
            <div class="form-group text-center">
                <button class="btn btn-primary w-25" type="=submit">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
            </div>
          </form>
    </div>
</div>

